.card-product {
    height: 300px;
    margin-right: auto;
    border-radius: 4px;
    width: 23%;
    cursor: pointer;
    padding: auto;
    padding-top: 10px;
}
.card-product:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* background: aliceblue; */
}
@media(max-width: 450px){
    .card-product{
        width: 85%;
        margin: auto;
    }
}
.add-cart{
    background: #2f3b69;color: aliceblue;
 }