.card-product {
    height: 300px;
    margin-right: auto;
    border-radius: 4px;
    width: 23%;
    cursor: pointer;
    padding: auto;
    padding-top: 10px;
}

.card-product:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* background: aliceblue; */
}

.img-card {
    width: auto;
    height: auto;
    border-radius: 10px;
    max-width: 100%;
    max-height: 165px;
}


@media(max-width: 450px) {
    .card-product {
        width: 85%;
        margin: auto;
        height: 100%;
    }
    .img-card{
        max-height: 100%;
    }
    /* .container-img{
        max-height: auto;
    } */
}
@media(min-width:451px){
    .container-img{
        width: fit-content;height: 100%; margin-left: auto;margin-right: auto;max-height: 165px;
    
    }
}

.add-cart {
    background: #2f3b69;
    color: aliceblue;
}