<div class="mt-4 mb-4">
    <div class="w-center"  [routerLink]="['']">
        <img style="cursor: pointer;width: 100%;" src="assets/oficial.png" alt="">
    </div>
    <div class="w-center">
        
        <div style="display: flex;justify-content: center;margin-top: 15px;">
            <div style="margin-right: 6px;"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
            
            <h6>Fakestore is an example online store. The data will only be in your browser.</h6>
        </div>
        <form [formGroup]="form" class="container">
            <h1>Contact data</h1>
            <div style="margin-top: 25px;">
                <input type="text" id="name" [style]="arrayStyleInput[0]" class="form-control" formControlName="name" (blur)="validar_campo(0,'name')">
                <div>
                    <label [style]="arrayStyleLabel[0]" for="name">Name*</label>
                </div>

            </div>
            <div style="margin-top: 15px;">
                <input type="text" id="name" class="form-control btn-wrong" [style]="arrayStyleInput[1]" formControlName="email" (blur)="validar_campo(1,'email')">
                <div>
                    <label [style]="arrayStyleLabel[1]" for="name">E-mail*</label>
                </div>

            </div>
            <div class="flex">
                <div class="mt-3">
                    <input type="text" [style]="arrayStyleInput[2]" id="name" class="form-control" mask="(00)00000-0000" formControlName="cell" (blur)="validar_campo(2,'cell')">
                    <div>
                        <label [style]="arrayStyleLabel[2]" for="name">Cell phone*</label>
                    </div>

                </div>
                <div class="mt-3" style="margin-left: auto;">
                    <input type="text" [style]="arrayStyleInput[3]" id="name" class="form-control" mask="000.000.000-00" formControlName="cpf" (blur)="validar_campo(3,'cpf')">
                    <div>
                        <label [style]="arrayStyleLabel[3]" for="name" >CPF (Brasil)*</label>
                    </div>

                </div>
            </div>
          
            <div style="margin-top: 15px;">
                <input type="password" id="password" [style]="arrayStyleInput[4]" class="form-control" formControlName="senha" (blur)="validar_campo(4,'senha')">
                <div>
                    <label [style]="arrayStyleLabel[4]" for="password">Password*</label>
                </div>

            </div>
            <div style="margin-top: 15px;">
                <input type="password" id="confirm" [style]="arrayStyleInput[5]" class="form-control" formControlName="rsenha" (blur)="validar_campo(5,'rsenha')">
                <div>
                    <label [style]="arrayStyleLabel[5]" for="confirm">Confirm password*</label>
                </div>

            </div>

            <div class="mt-4">
                <button class="btn dark-blue form-control" (click)="register()">Continue</button>
            </div>
            <div style="display: flex;justify-content: center;margin-top: 15px;">
                <div style="margin-right: 6px;"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
                
                <h6>Fakestore is an example online store. The data will only be in your browser.</h6>
            </div>
           

            <!-- <h2>Payment method</h2>
            <input class="form-control" type="text" name="cardNum" mask="0000 0000 0000 0000">
            <label for="cardNum"> Card Number</label>

            <div style="display: flex;gap: 10px;margin-top: 15px;">
                <div>
                    <select name="month" id="" class="form-control">
                      @for(currentMonth of month;track month ){
                        <option>{{currentMonth}}</option>
                      }
                    </select>
                  
                    <label for="month"> Month</label>
                </div>
                <div>
                    <select name="year" id="" class="form-control">
                        @for(currentMonth of year;track year ){
                          <option>{{currentMonth}}</option>
                        }
                      </select>
                    <label for="mes"> Year</label>
                </div>
                <div>
                    <input class="form-control" type="text" name="mes" style="width: 100px;">
                    <label for="mes"> cvv or cvc</label>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div>
                    <input class="form-control" type="text" name="mes" placeholder="MM">
                    <label for="mes"> Your name on the card:</label>
                </div>

            </div>   -->
        </form>
    </div>
</div>