<div>
  <div>
    <app-banner-carousel class="banner"></app-banner-carousel>
  </div>

  
  <div style="background: white;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
    <div>
      <h2 class="title container">Popular products</h2>
    </div>

    <div class="flex" style="background: white;">
      <button class="button-nav d-none d-md-block" (click)="scroll(-270,'.foto-list-container')">
        <i class="fa fa-chevron-left fa-3x color-nav" aria-hidden="true"></i>
      </button>
      <div class=" foto-list-container container">

        @for(product of list_products_show;track product.id){
        <div class=" foto-list ">
          <div class=" card-product">
            <div>
              <img class="img-card" src={{product.thumbnail}} alt="" (click)="detail_product(product.id)">
            </div>
            <div class="info-card">
              <h6 class="letter-info">{{product.title}}</h6>
              <div class="flex">
                <h6 class="text-secondary" style="margin-right: auto;"><b>${{product.price}}</b></h6>
                <div style="margin-top: auto;cursor: pointer;"
                  (click)="add(product.title,product.price,product.thumbnail,product.id)"><i class="fa fa-cart-plus "
                    aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      <button class="button-nav d-none d-md-block" (click)="scroll(270,'.foto-list-container')">
        <i class="fa fa-chevron-right fa-3x color-nav" aria-hidden="true"></i>
      </button>
    </div>
  </div>
 
 
 
  <div style="background: white;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
    <h2 class="title container">Category</h2>
    <div class="flex" style="background: white;">
      <button class="button-nav d-none d-md-block" (click)="scroll(-270,'.foto-list-container1')">
        <i class="fa fa-chevron-left fa-3x color-nav" aria-hidden="true"></i>
      </button>
      <div class=" foto-list-container1 container">

        @for(product of list_categories;track product.id){
        <div class=" foto-list ">
          <div class=" card-product-category" (click)="go_to_category(product.category)">
            <div style="width: fit-content;margin-left: auto;margin-right: auto;">
              <img class="img-card-category" src={{product.thumbnail}} alt="">
            </div>

            <p class="text-center text-secondary">{{product.category|uppercase}}</p>

          </div>
        </div>
        }
      </div>
      <button class="button-nav d-none d-md-block" (click)="scroll(270,'.foto-list-container1')">
        <i class="fa fa-chevron-right fa-3x color-nav" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  
 
    <div style="background: white;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
      <div>
        <h2 class="title container">Trending</h2>
      </div>
  
      <div class="flex" style="background: white;">
        <button class="button-nav d-none d-md-block" (click)="scroll(-270,'.foto-list-container')">
          <i class="fa fa-chevron-left fa-3x color-nav" aria-hidden="true"></i>
        </button>
        <div class=" foto-list-container container">
  
          @for(product of list_trending;track product.id){
          <div class=" foto-list ">
            <div class=" card-product">
              <div>
                <img class="img-card" src={{product.thumbnail}} alt="" (click)="detail_product(product.id)">
              </div>
              <div class="info-card">
                <h6 class="letter-info">{{product.title}}</h6>
                <div class="flex">
                  <h6 class="text-secondary" style="margin-right: auto;"><b>${{product.price}}</b></h6>
                  <div style="margin-top: auto;cursor: pointer;"
                    (click)="add(product.title,product.price,product.thumbnail,product.id)"><i class="fa fa-cart-plus "
                      aria-hidden="true"></i></div>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
        <button class="button-nav d-none d-md-block" (click)="scroll(270,'.foto-list-container')">
          <i class="fa fa-chevron-right fa-3x color-nav" aria-hidden="true"></i>
        </button>
      </div>
    </div>

</div>