<div class="container">
    <div class="flex">

        <!-- payment -->
        <div class="data-user">
            <div class="w-center">
                <div class="container">
                    
                    <form [formGroup]="form" class="container">
                        <h1>Contact data</h1>
                        <div style="margin-top: 25px;">
                            <input type="text" id="name" [style]="arrayStyleInput[0]" class="form-control" formControlName="name" (blur)="validar_campo(0,'name')">
                            <div>
                                <label [style]="arrayStyleLabel[0]" for="name">Name*</label>
                                @if(arrayStyleLabel[0] == style_label_error){
                                    <label [style]="arrayStyleLabel[0]" for="name" style="font-size: 13px;">(Invalid name format. Name contains only letters)</label>
                                }
                            </div>
            
                        </div>
                        <div style="margin-top: 15px;">
                            <input type="text" id="name" class="form-control btn-wrong" [style]="arrayStyleInput[1]" formControlName="email" (blur)="validar_campo(1,'email')">
                            <div>
                                <label [style]="arrayStyleLabel[1]" for="name">E-mail*</label>
                                @if(arrayStyleLabel[1] == style_label_error){
                                    <label [style]="arrayStyleLabel[1]" for="name" style="font-size: 13px;"> (Invalid email format.)</label>
                                }
                            </div>
            
                        </div>
                        <div class="">
                            <div class="mt-3">
                                <input type="text" [style]="arrayStyleInput[2]" id="name" class="form-control" mask="(00)00000-0000" formControlName="cell" (blur)="validar_campo(2,'cell')">
                                <div>
                                    <label [style]="arrayStyleLabel[2]" for="name">Cell phone*</label>
                                    @if(arrayStyleLabel[2] == style_label_error){
                                        <label [style]="arrayStyleLabel[2]" for="name" style="font-size: 13px;"> (Invalid cell phone format. Cell phone contains 11 digits.)</label>
                                    }
                                </div>
            
                            </div>
                            <div class="mt-3" style="margin-left: auto;">
                                <input type="text" [style]="arrayStyleInput[3]" id="name" class="form-control" mask="000.000.000-00" formControlName="cpf" (blur)="validar_campo(3,'cpf')">
                                <div>
                                    <label [style]="arrayStyleLabel[3]" for="name" >CPF (Brasil)*</label>
                                    @if(arrayStyleLabel[3] == style_label_error){
                                        <label [style]="arrayStyleLabel[3]" for="name" style="font-size: 13px;"> (Invalid CPF format. CPF contains 11 digits.)</label>
                                    }
                                </div>
            
                            </div>
                        </div>
                   


                    <h2 style="margin-top: 25px;">Data for delivery</h2>
                    <div class="flex" style="gap: 10px;">
                        <div style="display: flex;gap: 10px;">
                            <div>
                                <input type="search" [style]="arrayStyleInput[4]" id="name" class="form-control" mask="00000-000" (keyup.enter)="search_cep()" formControlName="cep" (blur)="validar_campo(4,'cep')">
                                <label [style]="arrayStyleLabel[4]" for="name">CEP (Brasil)*</label>
                                @if(arrayStyleLabel[4] == style_label_error){
                                    <label [style]="arrayStyleLabel[4]" for="name" style="font-size: 13px;"> (Invalid CEP format. CEP contains 8 digits.)</label>
                                }
                            </div>
                            <div style="width: 150px;">
                                <button class="btn" style="color: aliceblue;background: #2f3b69;" (click)="search_cep()">Search <i
                                        class="fa fa-search" aria-hidden="true"></i> </button>
                            </div>
                        </div>

                        <div class="top15" style="display: flex;gap: 10px;">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <div>
                                <div>{{cep.logradouro}}</div>
                                <div>CEP {{cep.cep}}-{{cep.bairro}}. {{cep.localidade}}-{{cep.uf}}</div>
                            </div>

                        </div>

                    </div>
                    <div style="display: flex;gap: 10px;margin-top: 15px;margin-bottom: 15px;">
                        <div>
                            <input type="text" [style]="arrayStyleInput[5]" name="numero" class="form-control" formControlName="numero" (blur)="validar_campo(5,'numero')" mask="0*">
                            <label for="numero" [style]="arrayStyleLabel[5]">Number*</label>
                            @if(arrayStyleLabel[5] == style_label_error){
                                <label [style]="arrayStyleLabel[5]" for="name" style="font-size: 13px;"> (Invalid Number format.)</label>
                            }
                        </div>
                        <div>
                            <input type="text" name="complemento" class="form-control">
                            <label for="complemento">Complement</label>
                        </div>

                    </div>

               
                    <h2>Payment method</h2>
                    <input class="form-control" [style]="arrayStyleInput[6]" type="text" name="cardNum" mask="0000 0000 0000 0000" formControlName="card" (blur)="validar_campo(6,'card')">
                    <label [style]="arrayStyleLabel[6]" for="cardNum"> Card Number</label>
                    @if(arrayStyleLabel[6] == style_label_error){
                        <label [style]="arrayStyleLabel[6]" for="name" style="font-size: 13px;"> (Invalid card number format. Card number contains 16 digits.)</label>
                    }

                    <div style="display: flex;gap: 10px;margin-top: 15px;">
                        <div>
                            <select name="month" id="" class="form-control">
                              @for(currentMonth of month;track month ){
                                <option>{{currentMonth}}</option>
                              }
                            </select>
                          
                            <label for="month"> Month</label>
                        </div>
                        <div>
                            <select name="year" id="" class="form-control">
                                @for(currentMonth of year;track year ){
                                  <option>{{currentMonth}}</option>
                                }
                              </select>
                            <label for="mes"> Year</label>
                        </div>
                        <div>
                            <input class="form-control" [style]="arrayStyleInput[7]" type="text" name="cvv" style="width: 100px;" formControlName="cvv" mask="0*" (blur)="validar_campo(7,'cvv')">
                            <label [style]="arrayStyleLabel[7]" for="cvv"> cvv or cvc</label>
                            @if(arrayStyleLabel[7] == style_label_error){
                                <label [style]="arrayStyleLabel[7]" for="cvv" style="font-size: 13px;"> (Invalid cvv or cvc format. ) </label>
                            }
                        </div>
                    </div>
                    <div style="margin-top: 15px;">
                        <div>
                            <input class="form-control" [style]="arrayStyleInput[8]" type="text" name="nameCard" placeholder="" formControlName="nameCard" (blur)="validar_campo(8,'nameCard')">
                            <label [style]="arrayStyleLabel[8]" for="nameCard"> Your name on the card:</label>
                            @if(arrayStyleLabel[8] == style_label_error){
                                <label [style]="arrayStyleLabel[8]" for="nameCard" style="font-size: 13px;"> (Invalid name format.)</label>
                            }
                        </div>

                    </div>
                    <div class="d-none d-md-block mt-3">
                        <button class="btn dark-blue" (click)="pagar()" [disabled]="form.invalid">Continue payment</button>
                    </div>
                </form>
                    <!-- <h2>Additional comments</h2> -->

                </div>
            </div>
        </div>
        <!-- fin payment -->
        <div class="preview-cart" >
            <div class="d-none d-md-block mb-3 view-cart">
                <h1>Shopping cart</h1>
                <app-cart class="mt-2"></app-cart>
            </div>
            <div class="d-sm-none ">
                <button class="btn dark-blue" (click)="pagar()" [disabled]="form.invalid" >Continue payment</button>
            </div>

           
        </div>


    </div>
</div>