<div style="padding: 1rem;">
  @defer (when carga) {
    @if(!notfound){
        <div class="container">
            <h3>Result for: <a style="color: #f68712;">"{{word}}"</a>  </h3>
            <div class="row">
    
                @for(product of show_list_products; track product.id){
                <div class="col-md-3 mt-3  ml-3 card-product" (click)="go_to_product_detail(product.id)">
                    <div class="container-img">
                        <div><img src={{product.thumbnail}} alt="" class="img-card"></div>
                       
                    </div>
                    <div  style="display: flex;color: #2f3b69;margin-top: 10px;;">
                        <h6 style="width: 80%;"><b>{{product.title}}</b></h6>
                        <h6 class="text-secondary" style="margin-left: auto;"><b>${{product.price}}</b></h6>
                    </div>
                </div>
                }
            </div>
        </div>
    }
    @if(carga && notfound) {
     
            <h3 class="text-center">No products found</h3>
       
        
    }
  }
  @placeholder {
    <div  style="display: flex;justify-content: center;align-items: center;height: 100vh;">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
    
    }
</div>
