<div style="padding: 1rem;">
    @if(!notfound){
        <div class="container">
            <div class="row">
    
                @for(product of show_list_products; track product.id){
                <div class="col-md-3 mt-3  ml-3 card-product" (click)="go_to_product_detail(product.id)">
                    <div style="width: 100%; ">
                        <div><img src={{product.thumbnail}} alt="" style="width: 100%;height: 215px; padding-top: 1rem;"></div>
                        <div  style="display: flex;color: #2f3b69;margin-top: 10px;;">
                            <h6 style="width: 70%;">{{product.title}}</h6>
                            <h4 style="margin-left: auto;">${{product.price}}</h4>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    }@else {
        <h3 class="text-center">No products found</h3>
    }
   
</div>
