.dark-blue {
    background: #2f3b69;
    color: aliceblue;
}
.nb-link{
  cursor: pointer;
  
  
}

.sub-menu{
  position: absolute;background: #2f3b69;
                color: aliceblue;left: 101%;margin-top: -90px;
              
}
.angule{
 margin-left: auto;margin-top: auto;margin-bottom: auto;
}

.nav-background {
    padding: 1rem;
}

.full-img {
    width: 100%;
}

.img-size {
    width: 160px;
    cursor: pointer;
}
.nav-link:hover{
    color: #dad23e;
    
}
.nav-link-sup:hover{
  border-bottom: solid 1px #dad23e;
}
.h-center {
    display: flex;
    align-items: center;
    min-height: 100%;
}
.bar-title-card{
    background: #2f3b69;
    /* height: 50px; */
    width: 100%;
    display: flex;
    color: aliceblue;
    padding: 1rem;
    gap: 10px;
}

.w-center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    min-height: 100%;
}

.left-cont {
    margin-left: auto;
    width: fit-content;
    margin-right: 5px;
}
.lupa{
  margin-left: -38px;
  margin-top: 2px;
  color: #2f3b69;
  cursor: pointer;
}
.inp{
  padding: 0.375rem 2.75rem;
}

.cart-sh {
    position: absolute;
    z-index: 101;
    width: 450px;
    color: #2f3b69;
    right: 2%;
    top: 5px;
   
}
.btn-payment{
  background: #2f3b69;
  color: aliceblue;
  width: 100%;
}
.card-cart{
  background: aliceblue;
  color: #2f3b69;
  height: 100vh;
  height: 95%
}
@media(max-width:450px){
  .cart-sh{
    width: 100%;
    height: 100%;
    /* right: auto; */
     left: 0;
     top: 0;
  }
  .nav-link{
    padding: 1rem;
    cursor: pointer;
  }
 
  .nb-link:hover{
    border-bottom: solid 2px yellow;
  }
  .menu-movil{
    background: #2f3b69; z-index: 105; opacity: 1;height: 95%;width: 50%;position: absolute;color:aliceblue ;top:0
  }
}


  